.event-mark {
  position: absolute;
  height: 100%;
  width: 5px;
  left: 0;
  top: 0;
  border-radius: 5px;
}

.event-list-item {
  position: relative;
  min-height: 40px;
  margin-bottom: 10px;
}

.event-list-item_hour,
.event-list-item_description {
  color: var(--grey);
}

.event-list-item::after {
  content: '';
  position: absolute;
  bottom: -10px;
  background: var(--white-smoke);
  height: 1px;
  width: 100%;
}

.event-list-item_description {
  flex: 0 1 80%;
  margin-left: 10px;
}
