.week-day_mobile {
  text-align: center;
}

.week-header_mobile {
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.current-day,
.month-cell-day.current-day {
  color: var(--red);
}

.current-day:hover,
.current-day.selected-date,
.current-day.selected-date:hover,
.month-cell-day.current-day:hover {
  color: var(--white);
  background-color: var(--red);
}
