.week-day_mobile {
  text-align: center;
}

.week-header_mobile {
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.current-date {
  color: var(--red);
}

.current-date:hover,
.current-date.selected-date,
.current-date.selected-date:hover {
  background-color: var(--red);
}
