.arrow-button {
  padding: 5px;
}

.icon-button.arrow-button:hover {
  background-color: transparent;
}

.dropdown-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
  text-transform: none;
  font-weight: 600;
}
