.icon-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: var(--light-black);
  font-size: 16px;
}

.icon-button:hover {
  color: var(--white);
  background-color: var(--black);
}

.disabled-button svg {
  fill: var(--grey);
}
